doctype html
head
	title Oowo
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:100|Open+Sans:800")
	link(rel="stylesheet", href="./css/main.css")
body
	.board
		.moves
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
			.move
				.exist
				.number
				.number
				.number
				.number
				.match
		.guess
				.number
				.number
				.number
				.number
				.check
	script(src="http://code.jquery.com/jquery-1.11.2.min.js")
	script(src="./js/main.js")